<div class="container">
  <div class="row">
    <div class="recipe-form">
      <div class="recipe-header">
        <h3>Create a New Recipe</h3>
      </div><br />

        <%= form_with model: @recipe do |form| %>

          <span class="category-label">Select a chapter:</span>
            <%= form.collection_select :category_id, Category.all, :id, :name %><br />
            <br>
          <div class="form-group">
            <%= form.text_field :title, placeholder: 'title', class: 'form-control form-input' %>
          </div>

          <div class="form-group">
            <%= form.text_field :description, placeholder: 'description', class: 'form-control form-input' %>
          </div>

          <div class="form-group">
            <%= form.file_field :image %>
          </div>

          <div class="form-group">
            <%= form.text_field :level, placeholder: 'level', class: 'form-control form-input' %>
          </div>

          <div class="form-group">
            <%= form.text_field :yields, placeholder: 'yields', class: 'form-control form-input' %>
          </div>

          <div class="actions">
            <%= form.submit 'Create', class: 'submit-button' %>
          </div>

        <% end %>
    </div>
  </div>
</div>