
  <% if @category.errors.any? %>
    <h2>The following errors prevented the article from saving: </h2>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <%= form_with model: @category do |form| %>

    <div class="form-group">
      <%= form.text_field :name, placeholder: 'enter category name', class: 'form-control form-input' %>
    </div><br />

    <div class="actions">
      <%= form.submit 'Create', class: 'submit-button' %>
    </div>
  <% end %>

<%= link_to 'Back', root_path %>